###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.6-branch/narr/environment.html
###

[uwsgi]
master = true
home = /home/{{ username }}/env
socket = /tmp/uwsgi.sock
processes = 4
harakiri = 60
harakiri-verbose = true
limit-post = 65536
post-buffering = 8192
listen = 128
max-requests = 1000
reload-on-as = 128
reload-on-rss = 96
no-orphans = true
log-slow = true
virtualenv = /home/{{ username }}/env
chmod-socket = 666

[app:main]
use = egg:{{ app_name }}

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_tm

{% for host in groups['tag_db'] %}
{% if 'postgres_master' in hostvars[host] and hostvars[host]['postgres_master'] %}
sqlalchemy.url = postgresql+psycopg2://{{ hostvars[host]['dbuser']['stdout'] }}:{{ hostvars[host]['dbpass']['stdout'] }}@{{ host }}:{{ hostvars[host]['dbport'] }}/{{ hostvars[host]['dbname'] }}
{% elif 'gce_metadata' in hostvars[host] and 'postgres_master' in hostvars[host]['gce_metadata'] %}
sqlalchemy.url = postgresql+psycopg2://{{ hostvars[host]['dbuser']['stdout'] }}:{{ hostvars[host]['dbpass']['stdout'] }}@{{ hostvars[host]['gce_private_ip'] }}:{{ hostvars[host]['dbport'] }}/{{ hostvars[host]['dbname'] }}
{% endif %}
{% endfor %}

stripe.api_key = CHANGEME

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.6-branch/narr/logging.html
###

[loggers]
keys = root, {{ app_name }}, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_{{ app_name }}]
level = WARN
handlers =
qualname = {{ app_name }}

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
